%h1 Main#index
%p Find me in app/views/main/index.html.haml
%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/g0jwm4PQRYU", :title => "YouTube video player", :width => "640"}
​